@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
  
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
  
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;    
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  list-style: none;
}

.main-header {
  color: #000000;
  background-color:#ffffff; 
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 0;
  padding: 0;
}

.main-logo {
  margin-right: 30px;
}

.navigation-user {
  width: 336px;
  margin-left: auto;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: #756257;
  opacity: 30%;
}

.navigation-user .navigation-link {
  padding: 0;
  min-width: 42px;
  min-height: 70px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-button {
  display: block;
  width: 160px;
  padding: 9px 15px 8px;
  margin-top: 13.72px;
  margin-bottom: 19.04px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

.navigation-button:hover {
  background-color: #615048;
}

.navigation-button:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
}

.navigation-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3)
}

.main-container {
  flex-grow: 1;
}

.promo-container {
  position: relative;
  color: #000000;
  background-color: #87CEEB; 
  background-image: url("../images/background/background-for-promo.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.promo-container::after {
  content: url("/images/background/background-for-promo-2.svg");
  position: absolute;
  top: 428px;
}

.promo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: 63px 240px 31px;
}

.five-reasons {
  font-weight: 400;
  color: #333333;
  font-size: 22px;   
  line-height: 36px;
  text-align: center;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;

}

.reasons-title {
  font-weight: 700;
  color: #000000;  
  font-size: 24px;   
  line-height: 28px; 
  text-align: center;
  text-transform: uppercase;
  margin: 0; 
  padding: 0; 
}

.reason-number {
  font-weight: 400; 
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.reasons-description {
  font-weight: 400; 
  color: #333333;
  text-align: center;  
  margin: 0;
  padding: 0;
}

.reasons-block {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.reason-first {
  display: flex;
  margin: 0;
  padding: 0;
  background-color:#83b3d3;
  order: 1;
}

.reason-item-first {
  display: flex;
  margin: 0;
  padding: 0;
}

.reason-second {
  display: flex;
  margin: 0;
  padding: 0;
  background-color:#83b3d3;
  order: 3;
}

.reason-item-second {
  display: flex;
  margin: 0;
  padding: 0;
}

.reasons-option {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.reasons-option h3 {
  padding-top: 97px;
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 30px;
}

.reasons-option p {
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 30px;
}

.reasons-option p:last-child {
  margin-bottom: 0;
  padding-bottom: 87px;
}

.reasons-next {
  display: flex;
  margin: 0;
  padding: 0;
  order: 4;
}

.reasons-items-next {
  display: flex;
  width: 400px;
  margin: 0;
  padding: 0;
}

.reasons-option-next {
  display: flex;
  flex-direction: column;
  padding: 97px 75px 108px;
}

.reasons-option-next h3 {
  width: 250px;
  margin-bottom: 29px;
}

.reasons-option-next p {
  width: 250px;
  margin-bottom: 30px;
}

.reasons-option-next p:last-child {
  margin-bottom: 0;
}

.reasons-list {
  display: flex;
  margin: 0;
  padding: 0;
  order: 2;
}

.reasons-house-foto {
  margin: 0 auto;
  margin-bottom: 23px;
  padding-top: 89px;
}

.reasons-food-foto {
  margin: 0 auto;
  margin-bottom: 23px;
  padding-top: 91px;
}

.reasons-souvenirs-foto {
  margin: 0 auto;
  margin-bottom: 23px;
  padding-top: 85px;
}

.reasons-items-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding: 0 75px 79px;
}

.reasons-option-list {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.reasons-option-list h3 {
  margin-bottom: 20px;
}

.reason-description-foto {
  display: block;
}

.reasons-next li:nth-child(odd) {
  background-color: hsl(204 48% 67% / 0.12);
}

.reasons-next li:nth-child(even) {
  background-color: hsl(204 48% 67% / 0.2);;
}

.reasons-list li:nth-child(odd) {
  background-color: hsl(204 48% 67% / 0.12);
}

.reasons-list li:nth-child(even) {
  background-color: #FFFFFF;
}

.reasons-change h3 {
  color: #FFFFFF;
}

.reasons-change p {
  color: #FFFFFF;
}

.offer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;  
  padding-top: 91px; 
  margin-bottom: 29px;
}

.offer-description {
  font-weight: 400;
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 720px;
  margin: 0 auto;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 10px;
}

.button-search {
  display: block; 
  width: 575px;
  padding: 15px 0;
  margin: 56px 313px 93px 312px;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
}

.button-search:active {
  background-color: #615048;
  color:rgba(255, 255, 255, 0.3);
}

.offer {
  display: flex;
  width: 1200px;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.newsletter { 
  background-image: url("../images/background/background-for-subscribe.jpg");
  background-color:#87CEEB; 
  background-size: cover;
  display: flex;
  width: 1200px;
  flex-direction: column;
}

.newsletter-title {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin: 94px 240px 29px;
}

.newsletter-description {
  font-weight: 400;
  color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin: 0 240px 46px;
}  

.field::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color:#000000;
  opacity: 60%;
}

.newsletter-form-catalog input {
  background-color: #F2F2F2;
}

.field {
  display: block;
  width: 559px;
  border: 0;
  padding: 0 19px 0 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
}

.field:focus:invalid{
background-color: #FFFFFF;
outline: 2px solid #FF5757;
}

.newsletter-button {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.newsletter-button{ 
  display: block;
  width: 200px;
  height: 61px;
  border: 0;
  padding: 0;
}

.newsletter-button:hover {
  background-color: #68A2C2;
}

.newsletter-button:focus {
  background-color: #68A2C2;
  outline: 3px solid #756257;
  outline-offset: -1px;
}

.newsletter-button:active {
  background-color: #68A2C2;
  color:rgba(255, 255, 255, 0.3);
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin: 0 200px 94px;
}

.form-container { 
  color: #000000;
  background-color:#87CEEB; 
  background-image: url("../images/background/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header {
  color: #ffffff  
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  width: 1120px;
  margin: 0;
  padding-top: 25px;
  padding-left: 71px;
  margin-bottom: 5px;
}

.breadcrambs {
  display: flex;
  padding-left: 65px;
  margin: 0;
  margin-bottom: 45px; 
}

.breadcrambs-item {
  display: flex;
}

.breadcrambs-link {
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}
.breadcrambs-item .breadcrambs-link {
  padding-left: 8px;
  padding-right: 9px;
}

.breadcrambs-item .bredcrambs-icon-arrow {
  padding-left: 2px; 
  padding-right: 2px ;
  padding-top: 8px;
}

.bredcrambs-icon-arrow {
  opacity: 30%;
}

.breadcrambs-link:hover {
  opacity: 60%;
}

.breadcrambs-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.breadcrambs-link:active {
  opacity: 30%;
}

.filter-container {
  display: flex;
  width: 1057px;
  padding-bottom: 83px;
  padding-left: 71px;
  padding-right: 72px;
  margin-bottom: 44px;
}

.control {
  font-weight: 400;  
  color: #ffffff;  
  font-size: 18px;
  line-height: 23px;  
}

.offers-filter-title {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-right: 67px;
}

.offers-filter-price {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  margin-left: 149px;
}

.container-field-price {
  display: flex;
  width: 287px;
  margin-left: 149px;
}

.field-price input {
  font-weight: 400;
  color: #FFFFFF;
  background-color: #F2F2F2;
  font-size: 18px;
  line-height: 23px;
  width: 143.5px;
  padding: 0;
  border: 0;
  padding-top: 14px;
  padding-bottom: 11px;
}

.offers-filter-group {
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
  padding: 0;
}

.offers-filter-group .offers-filter-title {
  margin-bottom: 30px;
}

.offer-filter-item {
  margin-bottom: 13px;
}

.offer-filter-item:last-child {
  margin-bottom: 0;
}

.control-input {
  margin: 0;
  margin-right: 19px;
}

.button-solution {
  display: flex;
  flex-direction: column;
  margin-left: 81px;
}

.offers-filter {
  margin: 0;
  padding: 0;
  border: 0;
}

.offers-filter-list {
  margin: 0;
  padding: 0;
}

.button-offer {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #83B3D3;      
  text-transform: uppercase;
  text-align: center;  
  display: block;
  width: 160px;
  height: 48px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button-offer:hover {
  background-color: #68A2C2;
}

.button-offer:focus {
  background-color: #68A2C2;
  outline: 3px solid #FFFFFF;
  outline-offset: -1px;
}

.button-offer:active {
  background-color: #68A2C2;
  color: rgba(255, 255, 255, 0.3);
}

.button-hidden {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;  
  text-align: center;
  display: block;
  width: 160px;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.button-hidden:hover {
  color:rgba(255, 255, 255, 0.6);
}

.button-hidden:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
  border-radius: 4px;
}

.button-hidden:active {
  color:rgba(255, 255, 255, 0.3);
}

.sorting-container {
  display: flex;
  width: 1057px;
  margin-left: 71px;
  margin-right: 72px;
  margin-bottom: 53px;
}

.result-of-search {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;  
  margin: 0;
  width: 380px;
  margin-right: 150px;
}

.sorting-type {
  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-right: auto;
}

.select-control {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #333333;
  width: 100%;
  padding: 10px 17px; 
  padding-bottom: 11px;
  padding-right: 125px;
  background-color: #ffffff;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("/images/small-icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.select-control:hover {
  border: 2px solid #83B3D3;
}

.select-control:focus {
  border: 2px solid #83B3D3;
}

.select-control:active {
  opacity: 30%;
}

.card-grid-toggle {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  outline: 2px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.card-grid-toggle:last-child {
  margin-right: 0;
}

.card-grid-toggle-current {
  outline: 2px solid #000000;
}

.card-grid-toggle:hover {
  outline: 2px solid #83B3D3;
}

.card-grid-toggle:focus {
  outline: 2px solid #83B3D3;
}

.sorting-container svg {
  align-items: center;
  justify-content: center;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 10px 18px;
  margin: 0 72px;
  padding: 0;
  margin-bottom: 34px;
}

.hotel-item {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.hotel-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-image:hover {
  opacity: 60%;
}

.hotel-image:focus {
  outline: 3px solid #83B3D3;
}

.hotel-image:active {
  opacity: 30%;
}

.button-choice {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.rating-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.hotel-title {
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  line-height: 31px;  
  width: 300px;
  margin: 0; 
  margin-bottom: 16px; 
}

.hotel-choice-wrapper {
  display: flex;
  width: 299px;
  margin-bottom: 16px;
}

.hotel-choice {
  font-weight: 400;
  color: #333333;
  font-size: 18px;
  line-height: 23px; 
  width: 133px;
  margin-right: 25px;
}

.hotel-choice-from {
  width: 141px;
}

.hotel-item a {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;  
}

.button-detail {
  background-color: #756257;
  display: block;
  width: 133.01px;
  padding: 9px 0 10px;
  border-radius: 4px;
}

.button-detail:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: -1px;
}

.button-detail:hover {
  background-color: #615048;
}

.button-detail:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3)
}

.button-select {
  background-color: #83B3D3;
  display: block;
  width: 140.94px;
  padding: 9px 0 10px;
  border-radius: 4px;
}

.button-select:focus {
  background-color: #68A2C2;
  outline: 3px solid #756257;
  outline-offset: -1px;
}

.button-select:hover {
  background-color: #68A2C2;
  outline: 1px solid #756257;
}

.button-select:active {
  background-color: #68A2C2;
  outline: 1px solid #756257;
  color: rgba(255, 255, 255, 0.3)
}

.button-favorite {
  background-color: #7DB54F;
  display: block;
  width: 140.94px;
  padding: 9px 0 10px;
  border-radius: 4px;
}

.button-favorite:focus {
  background-color: #6C9E42;
  outline: 3px solid #756257;
  outline-offset: -1px;
}

.button-favorite:hover {
  background-color: #6C9E42;
}

.button-favorite:active {
  background-color: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}

.button-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;  
  text-align: center;
  text-transform: uppercase; 
  width: 160px;
  margin: 0;
  margin-left: auto;
  padding: 9px 0 10px;
  border-radius: 4px;
}

.rating-stars {
  padding-top: 10px;
}

.button-upload {
  width: 1055px;
  text-align: center;
  padding: 29px 0;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
  margin-left: 72px;
  margin-right: 72px;
  margin-bottom: 30px;
}

.button-upload-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #83B3D3; 
  text-decoration: none;
  text-align: center;  
  text-transform: uppercase; 
  display: block; 
  width: 619.83px;
  margin: 0 auto;
  padding: 17px 0;
  border-radius: 4px;
}

.pagination-container {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
} 

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link:hover {
  background-color: #68A2C2;
}

.pagination-link:focus {
  background-color: #68A2C2;
  outline: 3px solid #756257;
  outline-offset: -1px;
}

.pagination-link:active {
  background-color: #68A2C2;
  color: rgba(255, 255, 255, 0.3);
}

.choice-block {
  font-weight: 400;  
  color: #333333;
  font-size: 18px;
  line-height: 23px; 
  position: relative;
  display: flex; 
  align-items: center;
  width: 386px; 
  margin-left: auto;   
}  

.choice-items {
  width: 226px;
  margin: 0;
  padding-top: 16px;
  padding-right: 51px;
  padding-bottom: 16px;
}

.select {
  width: 160px;
  padding: 11px 15px; 
  padding-bottom: 10px;
  padding-right: 131px;
  background-color: #ffffff;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  background-image: url("/images/small-icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.newsletter-catalog {
  display: flex;
  width: 800px;
  flex-direction: column;
  margin: 73px 200px 140px;
}

.newsletter-title-catalog {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;   
  margin: 0 auto;
  margin: 0 40px 46px;
}

.newsletter-description-catalog {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center; 
  margin: 0 auto;
  margin: 0 40px 46px;
}  

.newsletter-form-catalog {
  display: flex;
  justify-content: center;
}

/* ------ footer ------ */

.page-footer-wrapper {
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 40px 72px 30px 72px;
}

.company-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000; 
  text-decoration: none;  
}

.company-phone:hover {
  color: #756257;
}

.company-phone:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  padding: 12px;
  border-radius: 10px;
}

.company-phone:active {
  color: #756257;
  opacity: 30%;
}

.social-link {
  min-width: 120px;
}

.social-list {
  position: absolute;
  top: 49px;
  left: 72px;
  right: auto;
  bottom: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.social-item {
  position: relative;
  margin-right: 30px;
  min-width: 20px;
  min-height: 20px;
}

.social-item:nth-child(3) {
  margin-right: 0px;
}

.social-button {
  display: block;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;
}

.social-icon {
  fill:#83B3D3
}

.social-icon:hover {
  fill: #68A2C2;
}

.social-icon:focus {
  fill: #68A2C2;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  padding: 5px;
}

.social-icon:active {
  color: #68A2C2;
  opacity: 30%;
}

.information-icon {
  fill:#000000;
}

.information-icon:hover {
  fill: #756257;
}

.information-link:focus {
  fill: #756257;
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}

.information-icon:active {
  color: #756257;
  opacity: 30%;
}